@import '../../styles/_variables.scss';

.bodyContainer{
    background-color: $secondary-dark;
}

.navWrapper{
    position: fixed;
    width: 100%;
    height: $header-height-mb;
    padding: 0 30px;
    @media screen and (min-width: $media-tablet) {
    height: $header-height;
    }
    transition: border-bottom .5s;
    z-index: 999;
    opacity: 1;
    background: 0 0;
    border-bottom: 2px solid transparent;
    &.scrolled{
        background: $primary-dark;
        border-bottom: 2px solid $primary-brand;
    }
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: $header-height-mb;
    width: 100%;
    max-width: 1200px;
    background-color: transparent;
    text-align: center;
    @media screen and (min-width: $media-tablet) {
        justify-content: space-between;
        gap: 30px;
        height: $header-height;
    }
    .navItems{
        display: none;
        @media screen and (min-width: $media-tablet) {
        display: flex;
        align-items: center;
        gap: 40px;
        }
    }
}

.logo{
    position: relative;
    top: 2px;
    cursor: pointer;
}

.link{
    color: #C9C9C9;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.813rem;
    font-family: $headline-font;
}
.button{
    display: none;
    font-family: $headline-font;
    @media screen and (min-width: $media-tablet) {
        display: block;
        color: #C9C9C9;
        border: 1.5px solid #C9C9C9;
        border-radius: 30px;
        padding: 8px 22px 10px;
        font-size: 0.813rem;
        cursor: pointer;
        &:hover{
            background: transparent linear-gradient(108deg, $primary-brand-light 0%, $primary-brand 100%);
            border: 0;
            padding: 10px 23px 12px 24px;
            color: $primary-brand-dark;
        }
    }
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: $content-wrapper;
    margin: 0 auto;
    padding: 30px 0 15px;
    @media screen and (min-width: $media-tablet) {
    padding: 60px 0 30px;
    }
    .copyright{
        text-align: center;
    }
    .login{
        display: flex;
        column-gap: 5px;
        .button{
            background: transparent;
            border: 0;
            color: $primary-text;
            font-family: $paragraphs-font;
            padding: 0;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.mobileIcon{
    width: 24px;
    position: absolute;
    right: 30px;
    top: 14px;
    @media screen and (min-width: $media-tablet) {
        display: none;
    }
}

.mobileMenuWrapper{
    
    position: fixed;
    top: 0px;
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;
    width: 100%;
    animation: example-in .3s 1ms;
    
    z-index: 9;
    transition: all .3s;
    
    p, a{
        color: #FFFFFF;
        font-weight: 700;
    }
    visibility: hidden;
    &.active{
        animation: example-out .3s 1ms;
        visibility: visible;
       
        
        top: 50px;
    }
    .mobileMenu{
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 9;
        //top: 50px;
        gap: 20px;
        background-color: $primary-brand;
        width: 100%;
        height: 100%;
        padding: 30px;
        
    }
}

@keyframes example-out {
0% {
    transform: translateY(-100%);
}
100% {
    transform: translate(0);
}
}

@keyframes example-in {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translateY(-100%);
    }
    }