@import '../../styles/_variables.scss';

.bodyContainer{
    background-color: $secondary-dark;
}

.nav{
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.link{
    color: #C9C9C9;
    text-transform: uppercase;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: $content-wrapper;
    margin: 0 auto;
    padding: 60px 0 30px;
    .copyright{
        text-align: center;
    }
    .login{
        display: flex;
        column-gap: 5px;
        .button{
            background: transparent;
            border: 0;
            color: $primary-text;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}