@import '../../styles/_variables.scss';

.title{
    color: #BABABA;
    font-size: 3rem;
}

.skillset-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box-title{
    color: $primary-brand;
}
.box-description{
    color: $primary-neutral;
    margin-top: 30px;
}