@import '../../../styles/_variables.scss';

.hint{
    display: block;
    font-weight: 400;
    color: $primary-text;
    margin-bottom: 10px;
}

.description{
    max-width: 600px;
}

.contentWrapper{
    padding: 60px 0 0;
    @media screen and (min-width: $media-tablet) {
    padding: $section-padding 0 0;
    }
}

.imageWrapper{
    background-color: $primary-dark;
    border-radius: 6px;
    padding: 30px;
    margin: 20px 0 30px;
    @media screen and (min-width: $media-mobile) {
    padding: 90px 30px;
    margin: 30px 0 30px;    
    }
}

.services{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    @media screen and (min-width: $media-mobile) {
    margin-top: 40px;
    }
    .service{
        color: $primary-brand-light;
        @media screen and (min-width: $media-mobile) {
        border: 1px solid $primary-brand-light;
        padding: 10px 18px;
        border-radius: 30px;
        }
        font-size: 0.8rem;
    }
}

.buttonWrapper{
    text-align: center;
}