@import '../../../styles/_variables.scss';

.boxWrapper{
    background: transparent linear-gradient(103deg, #3C4047 0%, #2E3238 100%);
    box-shadow: 0px 10px 16px #00000029;
    border-radius: 6px;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    column-gap: 160px;
    padding: 30px 50px;
    .textWrapper{
        .title{
            color: $primary-title;
        }
        .text{
            margin-top: 20px;
        }
    }
}

.bgWrapper{
    background: transparent linear-gradient(180deg, $secondary-dark 0%, $secondary-dark 50%, $primary-dark 50%, $primary-dark 100%);
}