@import '../../../styles/_variables.scss';

.text{
    @media screen and (min-width: $media-tablet) {
        display: flex;
        justify-content: space-between;
        gap: 30px;    
    }
    p{
        max-width: 600px;
        margin-bottom: 30px;
        @media screen and (min-width: $media-tablet) {
            margin-bottom: 0px;
        }
    }
}

.boxes{
    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    gap: 30px;
    margin-top: 60px;
}


