@import '../../../styles/_variables.scss';

.text{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    p{
        max-width: 600px;
    }
}

.boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 60px;
}


