$outer-wrapper: 1920px;
$inner-wrapper: 1440px;
$content-wrapper: 1200px;

$primary-dark: #121213;
$secondary-dark: #151617;

$primary-brand: #96BB7C;
$primary-brand-light: #D6EFC7;

$primary-title: #FEFEFE;

$primary-text: #86919D;
$secondary-text: #949494;