// Breakpoints
$media-xsmall: 500px; 
$media-mobile: 767px; 
$media-tablet: 1024px;
$media-tablet-xl: 1200px;
$media-desktop: 1440px;
$media-desktop-xl: 1680px;

$outer-wrapper: 1920px;
$inner-wrapper: 1440px;
$content-wrapper: 1200px;

$primary-dark: #181A1F;
$secondary-dark: #1F2228;

$headline-font: 'Montserrat', sans-serif;

$primary-brand: #1adf82;
$primary-brand-light: #76eeb5;
$primary-brand-dark: #184D47;

$primary-title: #FEFEFE;
$primary-title-dark: #000000;

$primary-text: #86919D;
$secondary-text: #949494;