@import '../styles/_variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $secondary-dark;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


section{
  max-width: $outer-wrapper;
  margin: 0 auto;
  &.padding{
    padding: $section-padding-mb 0px;
    @media screen and (min-width: $media-tablet) {
    padding: $section-padding 0px;
    }
  }
}
.inner-wrapper{
  max-width: $inner-wrapper;
  margin: 0 auto;
  padding: 0 30px;
}
.content-wrapper{
  max-width: $content-wrapper;
  margin: 0 auto;
}


.dark-bg{
  background-color: $primary-dark;
}

h1{
  font-size: 2.25rem;
  font-family: $headline-font;
  margin: 0;
  @media screen and (min-width: $media-tablet) {
  font-size: 3rem;
  }
}
h2{
  font-size: 1.875rem;
  font-family: $headline-font;
  margin: 0;
  font-weight: 400;
  @media screen and (min-width: $media-tablet) {
    font-size: 2.75rem;
  }
}
h3{
  font-family: $headline-font;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0;
  @media screen and (min-width: $media-tablet) {
    font-size: 2.25rem; //28px
  }
}
h4{
  font-family: $headline-font;
  font-size: 1.75rem; //28px
  font-weight: 400;
  margin: 0;
}
h5{
  font-family: $headline-font;
  font-size: 1rem;
  @media screen and (min-width: $media-tablet) {
  font-size: 1.313rem; //21px
  }
  margin: 0;
}

p{
  margin: 0; 
  line-height: 1.5;
  color: $primary-text;
  font-family: $paragraphs-font;
  a{
    color: $primary-brand-light;
  }
}

.brand{
  color: $primary-brand;
}

.section-header{
  display: flex;
  margin-bottom: 20px;
  @media screen and (min-width: $media-tablet) {
  margin-bottom: 30px;
  }
  &.big-margin{
    margin-bottom: 30px;
    @media screen and (min-width: $media-tablet) {
    margin-bottom: 90px;
    }
  }
  .title{
      color: $primary-brand-light;
      //font-size: 3rem;
      padding-right: 60px;
      white-space: nowrap;
      line-height: 1;
  }
  .border{
    display: none;
    @media screen and (min-width: $media-tablet) {
      width: 100%;
      border-bottom: 1px solid #3C4047;
    }
  }
}

.btn{
  display: inline-table;
  color: #FAFAFA;
  border: 1.5px solid $primary-text;
  border-radius: 30px;
  padding: 12px 30px;
  font-size: 0.875rem;
  width: fit-content;
  cursor: pointer;
  &:hover{
    background: transparent linear-gradient(108deg, $primary-brand-light 0%, $primary-brand 100%);
    border: 0;
    padding: 13px 31px;
    color: $primary-brand-dark;
  }
  &.dark{
    color: $primary-brand-dark;
    border-color: $primary-brand-dark;
    &:hover{
      color: $primary-title;
      background: $primary-brand-dark;
    }
  }
}

.form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  .row{
    display: grid;
    column-gap: 30px;
    &.two{
      grid-template-columns: 1fr 1fr;
    }
  }
  input, textarea{
    width: 100%;
    background-color: transparent;
    padding: 15px 20px;
    border: 1px solid #3C4047;
    border-radius: 6px;
    color: #BABABA;
    outline: 0;
    font-family: $paragraphs-font;
    &::placeholder{
      color: #BABABA
    }
    &:focus{
      border-color: #D6EFC7;
    }
  }
  label{
    display: none;
  }
  button{
    background: transparent;
    border: 1px solid #86919D;
    border-radius: 30px;
    color: #FAFAFA;
    padding: 12px 30px;
    width: fit-content;
    cursor: pointer;
    &:hover{
      background: transparent linear-gradient(108deg, $primary-brand-light 0%, $primary-brand 100%);
      border: 0;
      padding: 13px 31px;
      color: $primary-brand-dark;
    }
  }
}