@import '../styles/_variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


section{
  max-width: $outer-wrapper;
  margin: 0 auto;
}
.inner-wrapper{
  max-width: $inner-wrapper;
  margin: 0 auto;
}
.content-wrapper{
  max-width: $content-wrapper;
  margin: 0 auto;
}