@import '../styles/_variables.scss';

.headerWrapper{
    padding-top: 200px;
    .title{
        color: $primary-title;
    }
}

.boxesSection{
    padding: 60px 0 200px;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 60px;
}

.hint{
    display: block;
    font-weight: 400;
    color: $primary-text;
    margin-bottom: 10px;
}