@import './_variables.scss';

.headerWrapper{
    padding-top: $header-height-mb;
    @media screen and (min-width: $media-tablet) {
    padding-top: $header-height;
    }
    img{
        box-shadow: 0 4px 7px rgb(0 0 0 / 22%);
    }
}

.imageWrapper{
    position: relative;
    height: 140px;width: 100%;
    @media screen and (min-width: $media-mobile) {
        height: 280px;
    }
    @media screen and (min-width: $media-tablet) {
    
    
    
    height: 400px;
    }
}