@import '../styles/_variables.scss';

.headerWrapper{
    padding-top: 200px;
    .title{
        color: $primary-title;
    }
}

.boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 60px;
}